$background-color: #36393f;
$container-color: #18191c;
$role-background: #292b2f;

// Text
$nickName-color: #ffffff;
$username-color: #B9BBBE;
$tittle-color: #B9BBBE;
$subtittle-color: #DCDDDE;
$content-color: #DCDDDE;
$badges-color: #FFFFFF;
$links-color: #00AFF4;

// Roles
$dev-color: #e91e63;
$frontEnd-color: #8700d3;
$angular-color: #ff0004;
$css-color: #e67e22;
$html-color: #3498db;
$js-color: #f1c40f;

// Spinner
$spinner-first-color: #fffcf4;
$spinner-second-color: #42464d;