@use "base-colors";
@use "default-settings";
@use "sass:math";

$border-radius: 8px;
$margin-bottom: 16px;
$tittle-margin-bottom: 8px;

$banner-height: 120px;
$banner-width: 300px;

$avatar-wh: 80px;
$avatar-border: 6px;
$badges-wh: 24px;

$content-padding: 16px;

.margin-bottom {
  margin-bottom: $margin-bottom;
}

.tittle-margin-bottom {
  margin-bottom: $tittle-margin-bottom;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 7px 7px 14px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 7px 14px 0px rgba(0, 0, 0, 0.4);

  width: 300px;
  border-radius: $border-radius;
  background-color: base-colors.$container-color;

  .banner {
    height: $banner-height;
    width: $banner-width;

    background-image: url(../images/defaultBanner.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-border-top-right-radius: $border-radius;
    -webkit-border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .content {
    padding: $content-padding;
    padding-top: 0px;

    .images-container {
      display: flex;
      justify-content: space-between;

      height: calc(
        ($avatar-wh + ($avatar-border * 2)) -
          (math.div($avatar-wh, 2) + $avatar-border)
      );

      .avatar {
        position: relative;
        top: - calc(math.div($avatar-wh, 2) + $avatar-border);

        border-radius: 50%;
        border: solid base-colors.$container-color $avatar-border;
        background-color: base-colors.$container-color;

        width: $avatar-wh;
        height: $avatar-wh;
      }

      .avatar_effect{
        position: relative;
        top: - calc(math.div($avatar-wh, 2) + 4px);
        left: - calc($avatar-wh * 1.25 - 2px );
        width: 96px;
        height: 96px;
      }

      .discord-status {
        position: relative;
        top: - calc(((math.div($avatar-wh, 2) + $avatar-border + 16px) * 1.15) +
              $avatar-border);
        left: calc(($avatar-wh * 0.85) - $avatar-border);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: solid base-colors.$container-color $avatar-border;
      }

      .offline {
        background-color: base-colors.$offline-color;
      }
      .offline::before {
        content: "";
        display: block;
        position: relative;
        left: calc(math.div($avatar-border, 2) + 1px);
        top: calc(math.div($avatar-border, 2) + 1px);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: base-colors.$container-color;
      }

      .idle {
        background-color: base-colors.$idle-color;
      }
      .idle::before {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: base-colors.$container-color;
      }

      .dnd {
        background-color: base-colors.$dnd-color;
      }
      .dnd::before {
        content: "";
        display: block;
        width: 12px;
        height: 4px;
        position: relative;
        top: calc(math.div($avatar-border, 2) + 2.5px);
        left: 2px;
        border-radius: 20%;
        background-color: base-colors.$container-color;
      }

      .online {
        background-color: base-colors.$online-color;
      }

      .badges {
        display: flex;
        align-items: flex-end;

        img {
          width: $badges-wh;
          height: $badges-wh;
        }
      }
    }

    .activities-container {
      .activitie-detail {
        display: flex;
        gap: 10px;

        > .activitie-images {
          width: 60px;
          height: 60px;

          > img {
            width: 60px;
            height: 60px;
            border-radius: 8px; 
          }

          > .activitie-small-image{
            position: relative;
            top: - calc(math.div($avatar-border, 2) + 20px);
            left: calc(math.div($avatar-border, 2) + 40px);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: solid base-colors.$container-color math.div($avatar-border, 2);
          }
        }
      }
    }
 
    .roles-container {
      .roles {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        .role {
          height: 14px;
          display: flex;
          gap: 2px;
          padding: 4px;
          border-radius: 4px;
          letter-spacing: 1px;
          font-family: "Uni Sans", "sans-serif";
          font-size: default-settings.$roles-font-size;
          color: base-colors.$badges-color;
          background-color: base-colors.$role-background;

          .role-text {
            padding-right: 4px;
          }

          .circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: aliceblue;
            margin: 0px 4px;
          }

          .dev {
            background-color: base-colors.$dev-color;
          }
          .front {
            background-color: base-colors.$frontEnd-color;
          }
          .angular {
            background-color: base-colors.$angular-color;
          }
          .css {
            background-color: base-colors.$css-color;
          }
          .html {
            background-color: base-colors.$html-color;
          }
          .js {
            background-color: base-colors.$js-color;
          }
        }

        .add-role {
          padding: 4px 7px;
        }
      }
    }
  }
}
